a:hover, a:focus, h1, h2, h3, h4, h5, h6, 
.k2t-searchbox #searchsubmit:hover,
.k2t-header-top a,
.k2t-header-top .k2t-menu li a:hover,
.k2t-header-mid .k2t-menu li ul,
.k2t-header-mid .social li a:hover,
.k2t-header-bot .k2t-menu li.active > a,
.k2t-header-mid .k2t-menu li > a.current,
.k2t-header-bot a,
.k2t-header-bot .social li a:hover,
.post-item header .entry-author a:hover,
.post-item header .entry-categories a:hover,
.post-item header .entry-comment a:hover,
.form-submit #submit label.error,
#response,
.widget ul li.current-cat a,
.widget .posts-list .post-item h4 a:hover,
.offcanvas-sidebar .widget ul li a:hover,
.k2t-footer .k2t-wrap .k2t-row > div a:hover,
.offcanvas-sidebar .widget-title,
.revolution-button.orange,
.woocommerce .product .p-title a:hover,
.woocommerce-page .product .p-title a:hover,
.woocommerce .product .p-cat a:hover,
.woocommerce-page .product .p-cat a:hover,
.k2t-iconbox-list .iconbox-list-icon,
.k2t-iconbox-list:not(.style-3) li:hover .title,
.k2t-imagebox .title .h,
.k2t-iconbox.layout-1 .iconbox-icon,
.k2t-iconbox.layout-1 .iconbox-image
.k2t-iconbox.layout-3:hover .iconbox-icon i,
.k2t-iconbox.layout-3 .title .h,
.k2t-process.style-line .featured.k2t-step .step-count,
.k2t-process.style-line .featured.k2t-step .step-inner:before,
.k2t-member article header a,
.k2t-progress .percent > .icon,
.toggle-title a:hover,
.text-white .k2t-callout .callout-icon,
.text-white .k2t-callout .callout-icon i,
.tabsticky-nav ul li a:hover,
.tabsticky-nav ul li.active a,
.wpb_content_element.wpb_tabs.outline .wpb_tabs_nav li.ui-tabs-active, 
.wpb_content_element.wpb_tabs.outline .wpb_tabs_nav li.ui-tabs-active *,
.wpb_content_element.wpb_tabs.outline .wpb_tabs_nav li:hover,
.wpb_content_element.wpb_tabs.outline .wpb_tabs_nav li:hover *,
.wpb_content_element.wpb_tabs.solid .wpb_tabs_nav li.ui-tabs-active a, 
.wpb_content_element.wpb_tabs.solid .wpb_tabs_nav li:hover a ,
.wpb_content_element.wpb_tabs.solid .wpb_tabs_nav li.ui-tabs-active a i, 
.wpb_content_element.wpb_tabs.solid .wpb_tabs_nav li:hover a i,
.wpb_content_element.wpb_tabs.bottom_line .wpb_tabs_nav li:hover a,
.wpb_content_element.wpb_tabs.bottom_line .wpb_tabs_nav li.ui-tabs-active a,
.wpb_content_element.wpb_tabs.bottom_line .wpb_tabs_nav li:hover a i,
.wpb_content_element.wpb_tabs.bottom_line .wpb_tabs_nav li.ui-tabs-active a i,
.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a, 
.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav > li:hover > a,
.wpb_tour.wpb_content_element.outline .wpb_tour_tabs_wrapper .wpb_tabs_nav > li:hover a,
.wpb_teaser_velo .post-title:hover, .wpb_teaser_velo .post-title:hover a,
.k2t-blog-post .post-content > h3 a:hover,
.k2t-iconbox.layout-3:hover .iconbox-icon i,
.k2t-detail-item .k2t-content header .entry-categories a:hover,
.entry-box footer a.post:hover,
.woocommerce div.product div.summary ins .amount, .woocommerce div.product div.summary .price > .amount,
.product-item .product-meta .price * {
	color: #bdb099;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
.k2t-header-mid .k2t-menu > li:hover a, 
.k2t-header-mid .k2t-menu > li > a:hover, 
.k2t-header-mid .k2t-menu > li.current-menu-item > a, 
.k2t-header-mid .k2t-menu > li.current-menu-parent > a, 
.k2t-header-mid .k2t-menu > li.current-menu-ancestor > a,
.k2t-header-mid .k2t-menu li ul > li:hover > a, 
.k2t-header-mid .k2t-menu li ul > li.current-menu-item > a, 
.k2t-header-mid .k2t-menu li ul > li.current-menu-ancestor > a,
.k2t-header-mid .k2t-menu li ul,
.k2t-header-bot .k2t-menu > li.children > a:hover:before,
.k2t-header-bot .k2t-menu > li.children > a:hover:after,
.post-item .outside-date,
.comment-body .comment-reply-link, .comment-body .comment-edit-link,
.k2t-btt:hover,
.more-link:hover,
.wpcf7 input[type="submit"]:hover,
#uwpqsf_id .uwpqsf_class input#uwpqsf_id_btn:hover,
.open-sidebar:hover .inner,
.open-sidebar:hover .inner:before,
.open-sidebar:hover .inner:after,
#frm-subscriptionFront .subscribeButton,
.k2t-header .k2t-menu .mega-container,
.format-gallery .owl-theme .owl-buttons > div,
.m-trigger:hover span,
.m-trigger:hover span:before,
.m-trigger:hover span:after,
.woocommerce .product .p-info .button:hover,
.woocommerce-page .product .p-info .button:hover,
.woocommerce .product .p-info .added_to_cart:hover,
.woocommerce-page .product .p-info .added_to_cart:hover,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider-range,
.woocommerce .widget_layered_nav ul li.chosen a,
.woocommerce-page .widget_layered_nav ul li.chosen a,
.product-tab.wpb_tabs .wpb_tabs_nav li.ui-state-active a,
.cd-dropdown > span,
.cd-dropdown ul li span,
.portfolio-carousel .view-more,
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active,
.carousel-slider .flex-direction-nav .flex-next,
.carousel-slider .flex-direction-nav .flex-prev,
.service-slider .flex-direction-nav .flex-next,
.service-slider .flex-direction-nav .flex-prev,
.blog-post-slider .flex-direction-nav .flex-next,
.blog-post-slider .flex-direction-nav .flex-prev,
.pf-list-flex .flex-direction-nav .flex-next,
.pf-list-flex .flex-direction-nav .flex-prev,
.home-page-3-slider .flex-direction-nav .flex-next,
.home-page-3-slider .flex-direction-nav .flex-prev,
.service-slider .flex-caption h3,
.home-page-3-slider .flex-caption h3,
.k2t-heading .heading-icon.type-icon,
.k2t-heading .heading-icon.type-icon:after,
.k2t-heading .heading-icon.type-icon:before,
.k2t-button a,
.k2t-button.orange a,
.k2t-button.green:hover a,
.k2t-button.k2t-custom-big-btn a:hover,
.k2t-circle-button,
.k2t-circle-button:hover,
.k2t-dropcap.style-1, 
.k2t-dropcap.style-2,
.k2t-iconbox-list.style-2 li:hover .iconbox-list-icon i,
.k2t-iconbox-list.style-3 li:hover .iconbox-list-icon i,
.k2t-iconbox.layout-2:hover,
.k2t-iconbox.layout-3 .iconbox-icon i,
.k2t-process.style-box .k2t-step.featured::before,
.k2t-process.style-box .k2t-step.featured,
.k2t-highlight.style-2,
.k2t-piechart .chart:hover .chart-content .chart-number,
.k2t-progress .bar,
.tabnav li.active a,
.k2t-big-tab .tabnav li.active a,
.k2t-carousel .k2t-swiper-navi a:hover,
.k2t-callout .callout-icon,
.ltp-title-meta:after,
.k2t-recent-projects-slider .swiper-slide .project-item,
.k2t-recent-projects-slider.k2t-3d-slider .swiper-slide-active .project-item,
.tipsy-inner,
.tooltipster-color,
.iview div.iview-directionNav a.iview-prevNav,
.ei-title h2,
.custom-link,
.widget .searchform #s:focus,
.woocommerce table.shop_table th,
.shop-cart .cart-control span,
.shop-cart .shop-item .buttons .button,
.woocommerce #content div.product form.cart .button, 
.woocommerce div.product form.cart .button, 
.woocommerce-page #content div.product form.cart .button, 
.woocommerce-page div.product form.cart .button, 
.woocommerce #review_form #respond .form-submit input, 
.woocommerce-page #review_form #respond .form-submit input, 
.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button, 
.woocommerce-page .woocommerce-info .button, 
.woocommerce-page .woocommerce-message .button, 
.woocommerce #content input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page #content input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt, 
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button,
.woocommerce div.product .k2t-product-bottom .woocommerce-tabs ul.tabs > li.active a, 
.woocommerce div.product .k2t-product-bottom .woocommerce-tabs ul.tabs > li:hover a,
.product-item .product-meta .button,
.woocommerce div.product .variations .variations_button .button, .woocommerce div.product .cart .button {
	background-color: #bdb099;
}

.widget .searchform #s:focus,
.revolution-button.orange,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.pagi-style-2.owl-theme .owl-controls .owl-page.active span,
.pagi-style-2.owl-theme .owl-controls.clickable .owl-page:hover span,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-state-default,
.product-tab.wpb_tabs .wpb_tabs_nav li.ui-state-active a:after,
.k2t-iconbox-list.style-2 li:hover .iconbox-list-icon,
.k2t-iconbox-list.style-3 li:hover .iconbox-list-icon,
.k2t-iconbox.layout-3:hover .iconbox-icon i,
.k2t-process.style-line .featured.k2t-step .step-count,
.k2t-process.style-line .featured.k2t-step .step-inner:before,
.k2t-big-tab .tabnav li.active a,
.wpb_content_element.wpb_tabs.outline .wpb_tabs_nav li.ui-tabs-active, 
.wpb_content_element.wpb_tabs.outline .wpb_tabs_nav li.ui-tabs-active *,
.wpb_content_element.wpb_tabs.bottom_line .wpb_tabs_nav li.ui-tabs-active, 
.wpb_content_element.wpb_tabs.bottom_line .wpb_tabs_nav li:hover,
.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active:after, 
.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav > li:hover:after,
.wpb_tour.wpb_content_element.outline .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active,
.tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow, .tipsy-w .tipsy-arrow, .tipsy-e .tipsy-arrow,
.k2t-event .time .date, .iview div.iview-directionNav a.iview-nextNav {
	border-color: #bdb099;
}